:host {
    width: 100%;
}

.basic {
    height: 50px;
    border-radius: 4px;
}

.green {
    background-color: #50C878;
}

.yellow {
    background-color: #FFDB58;
}

.grey {
    background-color: grey;
}

.red {
    background-color: #DC143C;
}