.wrapper {
    display: flex;
    flex-direction: column;
}

input {
    background-color: #121212;
    border: 2px solid #FFFFCC;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    color: #FFFFCC;
    font-size: 32px;
    text-indent: 12px;

    &:focus {
        outline: none;
    }
}

label {
    margin-bottom: 24px;
    font-size: 24px;
}